<aside>
    <h2>Aside</h2>
    <ul class="side-nav">
        <li class="nav-item"><a href="#">Places</a></li>
        <li class="nav-item"><a href="#">Gear</a></li>
        <li class="nav-item"><a href="#">What We Do</a></li>
    </ul>      
</aside>