<nav>
    <ul class="top-nav">
        <li class="nav-logo"><a href="/">LOGO</a></li>
        <li class="nav-item"><a href="/about">About</a></li>
        <li class="nav-item"><a href="/contact">Contact</a></li>
    </ul>
</nav>
<section>