<%- include('../partials/header') %>
<%- include(`../partials/nav`) %>
<%- include(`../partials/aside`) %>
    <main>
        <h1>TrekkingDuo</h1>
        <p> Lorem ipsum dolor sit amet consectetur adipiscing elit arcu orci, eleifend vehicula ultrices nec luctus pulvinar taciti ultricies curabitur, sapien fringilla suscipit condimentum dapibus proin morbi leo. Dui donec dis sapien sagittis ut non class, arcu egestas euismod nascetur vivamus lacinia nulla, et praesent porta sociis phasellus rhoncus. Erat tristique primis feugiat ligula suscipit tellus mus pharetra, himenaeos class platea habitasse natoque sociis imperdiet, a rutrum rhoncus sem iaculis praesent auctor.</p>

        <p> Urna scelerisque cras convallis torquent phasellus tortor pretium, massa vehicula id blandit platea dis rutrum, non dictumst duis nostra euismod vivamus. Curae aliquam ad libero tortor eleifend lacinia viverra sed sollicitudin molestie aenean, neque ac torquent nunc suscipit condimentum sem congue turpis nam, enim nullam odio ut auctor dapibus donec nulla aliquet dictum. Ultricies urna nulla posuere porta nec habitasse hendrerit, felis ullamcorper a tristique sollicitudin cubilia vitae, euismod congue class enim mi egestas.</p>
    </main>
<%- include('../partials/footer') %>
